@page
@model OdeToFood.Pages.Restaurants.NotFoundModel
@{
    ViewData["Title"] = "Not Found";
}


<div class="text-center">
    <h1 class="display-4">Not Found</h1>
    <p>Your restaurant was not found</p>
    <a asp-page="./List" class="btn btn-light">Go To Restaurants</a>
</div>